  /* ===== EXPERIENCE ===== */

.experience {
  padding: 100px 8%;
}

.experience-header {
  text-align: center;
  max-width: 720px;
  margin: 0 auto 70px;
}

/* .experience-header .tag {
  display: inline-block;
  padding: 6px 18px;
  border: 1px solid #84CC2B;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #193635;
  margin-bottom: 20px;
} */

.experience-header h2 {
  font-size: 48px;
  font-weight: 800;
  color: var(--dark);
  margin-bottom: 14px;
}

.experience-header h2 span {
  color: var(--mid);
}

.experience-header p {
  font-size: 17px;
  color: var(--dark);
  /* opacity: 0.75; */
}

/* Grid */
.experience-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

/* Cards */
.card {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 38px 34px;
  box-shadow: 0 10px 30px rgba(25, 54, 53, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(25, 54, 53, 0.5);
}

/* Card Text */
.card small {
  color: var(--mid);
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
}

.card h3 {
  font-size: 28px;
  color: var(--dark);
  margin: 14px 0 10px;
}

.card p {
  font-size: 15px;
  color: var(--dark);
  /* opacity: 0.75; */
  margin-bottom: 22px;
}
.card .btn {
  padding: 12px 36px;
  border-radius: 50px;
  background-color: var(--mid);
  color: var(--dark);
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Link */
.card a {
  font-size: 15px;
  font-weight: 600;
  color: var(--dark);
  text-decoration: none;
  border-bottom: 2px solid var(--mid);
  padding-bottom: 4px;
  transition: color 0.3s ease;
}

    @media (max-width: 980px) {
    
  .experience-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  }