:root{
  --nav-height: 104px;
  --dark: #193635;
  --mid: #84CC2B;
  --light: #F7FDF2;
  --border-color: #cfd8d5;
  /* background-color: #193635;    Dark */
    /* background-color: #84CC2B;   Mid */
    /* background-color: #EEFCE0;    Light */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  }

  html,body {
    background: var(--light);
    min-height: 100%;
    min-width: 100%;
    /* height: 1000vh; */
  }

  body{
    position: relative;
  }

  #root{
    /* min-width: 100%; */
    /* min-height: 100%; */
    height: 100%;
    width: 100%;
  }

  main{
    min-height: calc(100vh - var(--nav-height));
    min-width: 100%;
    height: calc(100% - var(--nav-height));
    margin: 104px 0 0;
  }

